.row {
    color: #636162;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    /* border-bottom: 1px solid #efefef; */
}

.row > div {
    padding: 1em;
}

.editable {
    width: 100px;
}

.editable > input {
    all: unset;
}
