.row {
    color: #636162;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    /* border-bottom: 1px solid #efefef; */
}

.row > div {
    padding: 1em;
}

.editable {
    display: flex;
    justify-content: start;
    align-items: center;
}

.editable input,
.editable > div {
    all: unset;
    width: 50px;
    display: flex;
    align-content: center;
}

.editable img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
