.row {
    color: #636162;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    /* border-bottom: 1px solid #efefef; */
}

.row > div {
    padding: 1em;
}

.editable {
    display: flex;
    justify-content: start;
    align-items: center;
}

.input_container {
    display: flex;
    align-items: center;
}

.warning_icon {
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: 4px;
}

.rest_content {
    display: flex;
    align-items: center;
}

.preventive_block {
    display: flex;
    align-items: center;
    width: 90px;
}

.preventive_input_text {
    width: 55px;
    display: flex;
    align-content: center;
}

.preventive_input_text input {
    all: unset;
}

.preventive_icon img {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
