.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    position: relative;
}

.left_bar {
    width: 250px;
    height: 100vh;
    background-color: #202938;;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    padding: 1em;
}

.new_car {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_car > .icon {
    display: flex;
}

.new_car:hover {
    cursor: pointer;
}

.logs {
    margin-top: 2em;
}

.logs__title {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #efefef;
    padding-bottom: .5em;
}

.log {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    border: 1px solid #efefef;
    margin-bottom: 1em;
    border-radius: 4px;
    font-size: 10px;
    padding: 1em;
    font-weight: bold;
}
